@model IEnumerable<HeartOfGold.Models.Donor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>List of Donors</h3>
<hr />
<p class="lead">People that have donated</p>

<br />

<table id="Donors" class="table table-bordered table-hover">
    <thead>
        <tr style="background-color:#e6e6e6 ">
            <th>Surname</th>
            <th>First Name</th>
            <th>Email Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var donor in Model)
        {
            <tr>
               @* <td>@Html.ActionLink(item.Name, "Edit", "Item", new { id = item.Id }, null)</td>*@
                <td>@Html.DisplayFor(m => donor.LastName)</td>
                <td>@Html.DisplayFor(m => donor.FirstName)</td>
                <td>@Html.DisplayFor(m => donor.Email)</td>
            </tr>
        }
    </tbody>
</table>
<br />
<hr />

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#Donors").DataTable();
        })

    </script>
}

