@{
    ViewBag.Title = "Our Mission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container center">
    <h2>Our Mission</h2>
    <p class="lead p-margin">
        Heart of Gold aims to provide a platform for disadvantaged students to acquire living necessities
    </p>
</div>
<hr />

<div>
    <img src="~/Content/Images/ubuntu.jpg" alt="Ubuntu" class="center-block img-rounded img-center img-responsive" />
</div>

<br />

<div class="container">
    <p class="lead" style="text-align:justify">
        The word <strong>Ubuntu</strong> is something we often hear as South Africans. But what exactly does it mean for people of the country? The word Ubuntu itself loosely means "humanity", however common interpretations include "I am because we are", and "humanity towards others".

        Okay, I understand what the definition of the word is now. What's the big deal?
        <br />
        <br />
        South Africa is a country of many cultures and traditions, and is incredibly diverse. We are fortunate enough to have people from a wide range of races, colours, and nationalities.
        <br />
        <br />
        How does Ubuntu tie in to South Africa? Despite it's beauty, South Africa suffers from many fundamental issues, including: poverty, crime, corruption, and low standards of education to name a few. This is where Ubuntu can make a difference: we need to treat each other as equals and prioritise humanity. Ubuntu is equally about behaviour as it is about a philosophy and a mindset. We must all practice what we preach, and take action to actually help out our fellow South Africans.
        <br />
        <br />
        <h4>How is Heart of Gold going to help?</h4>
    </p>
</div>


<hr />
