@{
    ViewBag.Title = "Home";
}

<div>
    <img src="~/Content/Images/nmupic.png" alt="Nelson Mandela University" class="center-block img-rounded nmu-img img-responsive" />
</div>
<hr style="margin:10px;"/>

<div class="container text-center">
    <h3>Are you a student? Are you struggling?</h3>
    <p class="lead">Create a request for items that you need. You will be notified when we can help you.</p>
    <a href="@Url.Action("SubmitRequest", "Request")" class="btn btn-primary btn-lg register-button">
        <i class="fas fa-address-card" style="font-size:1.1em"></i>
        &nbsp;&nbsp;Submit a request
    </a>
</div>

<hr />

<div class="container-fluid">
    <div class="row row-eq-height">
        <div class="col-md-4">
            <div class="panel panel-default home-panel">
                <h4>For the student</h4>
                <p class="lead home-panel-p">
                    Create yourself an account. It's free. Alternatively, browse to the Help and FAQ link at the top of the page to guide you through using the website!
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default home-panel" style="height:200px;">
                <h4>Interested in donating?</h4>
                <p class="lead home-panel-p">Contact the Heart of Gold administrator by sending an email to heart.of.gold.mandela@gmail.com</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default home-panel">
                <h4>Let's make a difference, together.</h4>
                <p class="lead home-panel-p">We believe strongly in the philosophy of Ubuntu, we care about those that are disadvantaged. Let's help them out.</p>
            </div>
        </div>

    </div>
</div>
<hr />

@section scripts
{
    @if(TempData["RequestLimit"] != null)
    {
        <script>
            $(document).ready(function () {
                toastr.options = {
                    "closeButton": true,
                    "progressBar": true
                };
                toastr.warning('You may only have 3 requests open at once.');
            });
        </script>
    }

}