@{
    ViewBag.Title = "Home";
}

<div>
    <img src="~/Content/Images/nmupic.png" alt="Nelson Mandela University" class="center-block img-rounded nmu-img img-responsive" />
</div>
<br />


<div class="jumbotron">
    <p class="lead"> <strong>Heart of Gold</strong> is a web service designed for students in the School of ICT at Nelson Mandela University.</p>
    <br />
    <blockquote>
        <p>For to be free is not merely to cast off one’s chains, but to live in a way that respects and enhances the freedom of others.</p>
        <footer>Nelson Mandela</footer>
    </blockquote>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Are you a student?</h3>
        <p>
            Create yourself an account. It's free. Alternatively, browse to the Help and FAQ link at the top of the page to guide you through using the website!
        </p>
    </div>
    <div class="col-md-4">
        <h3>Interested in donating?</h3>
        <p>Contact the Heart of Gold administrator by sending an email to admin@hog.co.za.</p>
    </div>
    <div class="col-md-4">
        <h3>Let's make a difference, together.</h3>
        <p>We believe strongly in the philosophy of Ubuntu, we care about those that are disadvantaged. Let's help them out.</p>
    </div>
</div>