@model IEnumerable<HeartOfGold.Models.Request>
@{
    ViewBag.Title = "My Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>View My Requests</h3>
<p class="lead">What requests have I submitted?</p>

<br />
<hr />

@if (Model.Any())
{

}
else
{
    <p>You currently have not submitted any requests!</p>
}