body {
    font-size: 15px;
    padding-bottom: 70px;
}
.navbar-fontsize {
    font-size: 15px;
}

.div-width {
    width: 100%;
}

.nav-text-color {
    color: white;
}

.navbar-color {
    background-color: #103a5c;
}

.well-width {
    width: 60%;
}

.footer {
    width: 100%;
    background-color: #103a5c;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
}

.center {
    text-align: center;
    
}

.img-center {
    width: 50%;
}

.nmu-img {
    width: 70%;
}

.p-margin {
    margin-bottom: 5px;
}

.navbar-items-center {
    text-align: center;
    display: inline-block;
}

.nav-li{
    display: inline-block;
}

.li {
    text-align: center;
}

.nav {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.footer-padding {
    padding-bottom: 10em;
}

.register-button {
    background-color: #103a5c;
    color: white;
}

.div-center {
    display: block;
    width: 60%;
    margin: 0 auto;
}

.help-div-width {
    width: 70%;
}

.panel-default > .panel-heading {
    background-color: #103a5c;
    color: white;
}

.field-validation-error{
    color: red;
}

.input-validation-error {
    border-color: red;
}

.btn-big {
    width: 100%;
    padding: 10px;
}

.navbar-inverse .navbar-brand {
    color: gold;
}

.navbar-inverse .navbar-nav > li > a {
    color: #f2f2f2
}

.icon-size {
    font-size: 1.2em;
}

.bold-text {
    font-weight: bold;
}

.footer-bottom {
    bottom: 0;
}

.well {
    border: 2px black;
}

.panel-body {
    padding: 20px;
}

.custom-panel {   
    padding: 5%;
    padding-left: 13%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.well > .well-lg > .bg-info {
    border: 1px black;
}

.form-control {
    color: #c5c5c5;
}

.alert-info {
    background-color: #828282
}

.note-heading {
    position: relative;
    text-align: center;
}

    .note-heading:before {
        content: "";
        display: block;
        border-top: solid 1px #103a5c;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        z-index: 0;
    }

    .note-heading span {
        background: #f5f5f5;
        padding: 0 10px;
        position: relative;
        z-index: 1;
    }

.panel {
    border-radius: 6px;
}

.panel-default > .panel-heading {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#loginDiv {
    background-color: #103a5c;
    border-radius: 6px;
}

#btnLogin {
    width: 40%;
    color: black;
    background-color: gold;
}

#loginForm {
    margin-left: 9%;
    margin-right: 8%;
    color: #f2f2f2;
}

#navbartop {
    margin-bottom: 0px;
}

ul.nav a:hover {
    color: gold !important;
}

.modal {
    overflow: visible;
}

#loginHr {
    margin-top: 0px;
}

div#ItemFormFooter {
    left: 0px;
    right: 0px;
    background-color: black;
}

.modal-body {
    margin-left: 10%;
}

.modal > .modal-dialog > .modal-content {
    width: 70%;
}

.modal-content {
    background: #f5f5f5;
}

#donorBtnRow {
    margin-left: -16%;
}

.btn-primary:hover {
    background-color: #103a5c;
    color: gold !important;
}

#navDropMenu {
    font-size: 16px;
    background-color: #103a5c;
}

    #navDropMenu:hover {
        background-color: #103a5c;
        color: gold !important;
    }


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #103a5c;
}


#searchFrmGrp {
    padding: 7%;
}

#srchBtn {
    margin-bottom: 5%;
}

#dashboardPanel {
    padding: 1.5rem;
}

#QuickLinksHeader {
    padding: 1rem;
    text-align: center;
    margin-bottom: 1px;
    font-weight: 300;
    margin-top: auto;
}

#dashboardStudent {
    height: 275px;
}

#dashStudIcon {
    font-size: 150px;
    margin-left: 25%;
    margin-top: 10%;
    color: #4a4b4e;
}

#studLead {
    margin-left: 80px;
    padding-top: 7px;
}

#mailIcon {
    font-size: 150px;
    margin-left: 29%;
    margin-top: 10%;
    color: #4a4b4e;
}

#messageBody {
    border: black 0.1px solid;
}

#modalContent {
    width: 120%;
}

.padBot {
    padding-bottom: 15px;
}