
@{
    ViewBag.Title = "Getting Started";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container center help-div-width">
    <h3>Frequently Asked Questions</h3>
    <hr />

    <div>
        <p class="lead">
            Welcome! Please read below for a Quick Start guide on how to get started.
        </p>
    </div>
    <div>
        <ul class="text-justify">
            <li><p class="lead" style="margin-bottom: 2px;"><strong>Register</strong> an account! Log yourself in.</p></li>
            <li><p class="lead" style="margin-bottom: 2px;">To submit a request, browse to the <strong>Home Page</strong> and select <strong>Submit a Request</strong>.</p></li>
            <li><p class="lead">To track your current requests, click on <strong>My Requests</strong> at the top.</p></li>
        </ul>
    </div>
    <hr />

    <div id="Faq">
        <h3>What is Heart of Gold?</h3>
        <div>
            <p class="lead p-text">
                It is a free-to-use platform for students within the School of ICT at Nelson Mandela University. It allows students who are disadvantaged to submit requests for items they are in need of.
            </p>
        </div>
        <h3>How many requests am I allowed to submit?</h3>
        <div>
            <p class="lead p-text">
                You're allowed a total of 3 requests at any given time.
            </p>
        </div>
        <h3>Who can donate to the students?</h3>
        <div>
            <p class="lead p-text">
                Absolutely anyone can donate.
            </p>
        </div>
        <h3>How do I know what is happening with my submitted request?</h3>
        <div>
            <p class="lead p-text">
                At the top of the web page, click on <strong>My Requests</strong>. The status and progress of your request will be shown here.
            </p>
        </div>
        <h3>I am still confused about a few things. Who can I contact?</h3>
        <div>
            <p class="lead p-text">
                You are welcome to contact the website administrator at heart.of.gold.mandela@gmail.com.
            </p>
        </div>


    </div>
    <hr />
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryui");
    @Styles.Render("~/Content/themes/base/css")

    <script>
        $(function () {
            $("#Faq").accordion();
        });
    </script>

}