
@{
    ViewBag.Title = "ViewHelp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container center well-width">
    <h3>Stuck? Get help here!</h3>
    <p class="lead">Online help and Frequenty Asked Questions</p>
    <br />


    <div class="panel panel-default">
        <div class="panel-heading"><strong>Question 1</strong></div>
        <div class="panel-body">
            Answer...
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Question 2</strong></div>
        <div class="panel-body">
            Answer...
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Question 3</strong></div>
        <div class="panel-body">
            Answer...
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Question 4</strong></div>
        <div class="panel-body">
            Answer...
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Question 5</strong></div>
        <div class="panel-body">
            Answer...
        </div>
    </div>
</div>